<h4>Please enter the number of players and hand size</h4>
<form action="/game" method="post">
  Number of players:<br>
  <input type="number" name="players">
  <br>
  Hand size:<br>
  <input type="number" name="cards">
  <br><br>
  <input type="submit" value="Play">
</form>
